DIV {
	border: 1px solid #000000;
}

#header {
	height: 100px;
	width:800px;
	margin-right: auto;
	margin-left: auto;
	background: url(images/banner.png) no-repeat;
}

#MainContent {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
} 

#Footer {
	width: 802px;
	margin-left: auto;
	margin-left: auto;
	height:50px;
}

#FooterLeft {
	float:right;
	width:49.5%;
	height:50px;
	border:1px solid green;
}

#FooterRight {
	float:right;
	width:49.5%;
	height:50px;
	border:1px solid red;
}

@media only screen and (max-width: 998px) {
	#Footer, #MainContext, #Header {
		width:100%;
	}
}
{
margin: 0;
padding: 0;
box-sizing: border-box;\
font-family: monsterrat, sans-serif;
}

.button-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: centre;
	align-items: center;	
}

.button-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}



